
<%= simple_form_for(@cliente) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.input :nome %>
    <%= f.input :telefone %>
    <%= f.input :endereco_principal %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
