<div id="<%= dom_id atendimento %>">
  <p>
    <strong>Data inicio:</strong>
    <%= atendimento.data_inicio %>
  </p>

  <p>
    <strong>Status agendamento:</strong>
    <%= atendimento.status_agendamento_id %>
  </p>

  <p>
    <strong>Cliente:</strong>
    <%= atendimento.cliente_id %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= atendimento.endereco_id %>
  </p>

  <p>
    <strong>Funcionario:</strong>
    <%= atendimento.funcionario_id %>
  </p>

  <p>
    <strong>Data fim:</strong>
    <%= atendimento.data_fim %>
  </p>

</div>
