<%= render 'carrosel' %>
<div class="mt-5"></div>

<div class="d-none d-md-block">
  <%= render 'servicos_web' %>
</div>

<div class="d-block d-md-none">
  <%= render 'servicos_mobile' %>
</div>

<div class="mt-5"></div>

<%= render 'blog' %>
<%= render 'apresentacao_servicos' %>
<%= render 'avaliacoes' %>
